@using System.Configuration;

@{

    ViewBag.Title = "רשימת רחובות";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var domain = ConfigurationManager.AppSettings["Domain"];
}


<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 title-section">
        <h2 class="main-page-title">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 buttons-section text-right">
        @Html.ActionLink("הוספת רחוב", "AddStreet", null, new { @class = "btn btn-info" })
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card mb-3">
            <div class="card-header text-right">
                רשימת רחובות
                <i class="fa fa-table"></i>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="dataTable">
                    <thead class="theader">
                        <tr class="tr-header">
                            <th class="th-header">מזהה ייחודי </th>
                            <th class="th-header">רחוב</th>
                            <th class="th-header">מספר</th>
                            <th class="th-header">עריכה / מחיקה</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                <p id="called-sum-text"></p>
                <p id="uncalled-sum-text"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            var text = "האם אתה בטוח שברצונך למחוק את הפריט ?";

            $('#called-sum-text').text('');
            $('#uncalled-sum-text').text('');

            $("#dataTable")
                .dataTable({
                    "createdRow": function (row, data, dataIndex) {
                        $(row).children().addClass('className');
                },
                "autoWidth": false,
                "bServerSide": true,
                "sAjaxSource": '@domain' + "/api/Street/GetData",
                "sAjaxDataProp": "aaData",
                "bProcessing": true,
                "bLengthChange": false,
                "order": [[1, 'asc']],
                "format": 'YYYY/MM/DD',
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [
                    { 'bSortable': true, 'aTargets': [0]},
                    { 'bSortable': true, 'aTargets': [1]}
                ],
                    "aoColumns": [
                        { "mData": "Id" },
                        { "mData": "Title" },
                        { "mData": "Number" },
                    {
                        mData: '',
                        render: (data, type, row) => {


                            if (row.TracksCount === 0) {
                                return `<a
                            href = '../Admin/Street/EditStreet/${row.Id}'
                            title = "עריכה"
                            class="btn btn-sm btn-info" >
                               עריכה
                              </a>
                              <a
                                href='../Admin/Street/DeleteStreet/${row.Id}'
                                title="מחיקה"
                                class="btn btn-sm btn-danger"
                                onclick='return confirm("${text}")'>
                          מחיקה
                            </a>`;
                            } else {
                                return `<a
                            href = '../Admin/Street/EditStreet/${row.Id}'
                            title = "עריכה"
                            class="btn btn-sm btn-info" >
                               עריכה
                              </a>`;
                            }

                        }
                  },
                ],
                "language": {
                    "sSearch": "חפש",
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "מצטערים אין תוצאות",
                    "info": "מציג עמוד _PAGE_ מתוך _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "processing": "טוען",
                    "paginate": {
                        "previous": "הקודם",
                        "next": "הבא",
                        "last": "אחרון",
                        "first": "ראשון"
                    }
                }
            });

            $('div.dataTables_filter input').addClass('form-control').attr('id','search-form-control');
        });
    </script>

}
